<!DOCTYPE html>
<html lang="en">
	<head>
  	<title>Flags.Shop</title>
		<meta charset="utf-8">
		<meta name="description" content="There you can buy some flags.">
		<link rel="stylesheet" href="../static/style.css">
		<link rel="stylesheet" href="../static/alertify.css">
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
	</head>
<body>
	<header>
		<a href="lk">
			<div class="header-img">
			</div>
		</a>
		<div class="nav-menu">
			<span class="nav-item city">
					<a href="users">Users</a>
			</span>
			<span class="nav-item shops">
					<a href="flags">Flags</a>
			</span>
			<span class="nav-item buyers">
					<a href="comment_board">Comment Board</a>
			</span>
			<span class="nav-item info">
					<a href="report_board">Report Board</a>
			</span>
		</div>
	</header>
	<main>
		<div class="auth">
			<span class="auth-text" id="username"></span>
			<p><span class="money" id="coins">$</span></p>
			<p>
				<a href="add_page" class="lk-links">Add merchandise</a>
			</p>
			<p>
				<a href="orders" class="lk-links">My orders</a>
			</p>	
			<p>
				<a href="send_page" class="lk-links">Send money</a>
			</p>
			<p class="logout">
				<a href="" onClick="logout()">Logout</a>
			</p>
		</div> 
	</main>
		<script src="../static/alertify.js"></script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../static/get_user.js"></script>
		<script src="../static/lk.js"></script>
</body>
</html>