<!DOCTYPE html>
<html lang="en">
	<head>
  	<title>Flags.Shop</title>
		<meta charset="utf-8">
		<meta name="description" content="There you can buy some flags.">
		<link rel="stylesheet" href="../static/style.css">
		<link rel="stylesheet" href="../static/alertify.css">
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
	</head>
<body>
	<header>
		<a href="lk">
			<div class="header-img">
			</div>
		</a>
		<div class="nav-menu">
			<span class="nav-item city">
					<a href="users">Users</a>
			</span>
			<span class="nav-item shops">
					<a href="flags">Flags</a>
			</span>
			<span class="nav-item buyers">
					<a href="comment_board">Comment Board</a>
			</span>
			<span class="nav-item info">
					<a href="report_board">Report Board</a>
			</span>
		</div>
	</header>
	<main>
		<div class="auth" id="auth">
			
		</div> 

		<div class="items">
			<div class="send-form">
				<p><input class="data-field" type="text" id="input-username" placeholder="To user" size="20"></p>
				<p><input class="data-field" type="text" id="input-value" placeholder="10" size="5"></p>
				<p><input class="data-field" type="text" id="input-msg" placeholder="msg" size="15"></p>
				<input class="myButton" type="submit" onClick="send()" value="send"></input>
			</div>

			<table class="table translations" id="translations_table">
				<caption><em>My transactions</em></caption>
				<thead>
					<tr>
						<th style="width:260px">From (user_id)</th>
						<th style="width:260px">To (user_id)</th>
						<th style="width:200px">Msg</th>
						<th style="width:100px">Cost $</th>
					</tr>
				</thead>
				<tbody>

                </tbody>
			</table>
		</div>
		</div>
	</main>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../static/alertify.js"></script>
		<script src="../static/show_transactions.js"></script>
</body>
</html>