

.header-img {
	height: 100px;
	width: 100%;
	display:block; 
	vertical-align: top;
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
  background-position: center;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover, a:active {
  text-decoration: none;
  color: red;
}


.nav-menu {
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffa500;
	vertical-align: bottom;
}

.nav-item {
	padding-left: 15%;
	position: none;
  font-family: Copperplate Gothic Bold, sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.search-block {
	margin-top: 20px;
  margin-bottom: 10px;
	text-align: center;
}

.login-field {
	line-height: 28px;
	font-size: 13px;
  font-weight: bold;
	border: 1px solid #d9d9d9;
  border-radius: 8px;

}

.data-field {
  padding-left: 10px;
  line-height: 28px;
  font-size: 13px;
  color: #858585;
  font-weight: bold;
  border: 1px solid #d9d9d9;
  border-radius: 8px;

}

.password-field {
  line-height: 28px;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  -webkit-text-security: disc;

}

.auth {
	border-radius: 10%;
	margin-left: 85%;
	margin-right: 5%;
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 8px;
	padding-bottom: 2px;
	background-color: gray;
}

.search-block-text {
	line-height: 38px;
	font-size: 14px;
	border: 1px solid #d9d9d9;
  border-radius: 8px;
}

.search-button {
   border: 1px solid #cccccc; 
   border-radius: 10px; 
   -webkit-border-radius: 10px; 
   -moz-border-radius: 10px; 
   background: #ffffff !important;
   outline: none; 
   height: 36px; 
   width: 80px; 
   color: #cccccc; 
   font-size: 11px; 
   font-family: Tahoma; 
}

.submit-button {
	 border: 1px solid #000000; 
   border-radius: 10px; 
   -webkit-border-radius: 10px; 
   -moz-border-radius: 10px; 
   background: #ffffff !important;
   outline: none; 
   height: 26px; 
   width: 60px; 
   color: #000000; 
   font-size: 11px; 
   font-family: Tahoma; 
}

.submit-button:hover {
    background: #000000 !important;
    color: #ffffff;
}

.register-button {
	 padding: 5px;
	 border: 1px solid #000000; 
   border-radius: 10px; 
   -webkit-border-radius: 10px; 
   -moz-border-radius: 10px; 
   background: #ffffff !important;
   outline: none; 
   height: 26px; 
   width: 48px; 
   color: #000000; 
   font-size: 11px; 
   font-family: Tahoma; 
}

.auth-text{
	padding-left: 10%;
	font-weight: bold;
	font-family: Tahoma; 
}


.lk-links:hover, a:active{
  color: black;
}

.money{
  font-weight: italic;
  font-size: 14px;
  font-family: Tahoma;
  font-weight: bold;
  padding-left: 12px;
  color : #ffffff; 
}

.logout{
  text-align: right;
}

.search-button:focus {
  color: #000000;
  border: 1px solid #000000
}

.flags{
  font-weight: bold;
  color: black !important;
  font-family:Arial !important;
}

.add{
  font-weight: bold;
  color: black !important;
  font-family:Arial !important;
}

.send{
  font-weight: bold;
  color: black !important;
  font-family:Arial !important;
}


.items {
	margin-left: 36%;
	margin-right: 37%;
}

#users_table {
  margin-left: 44%;
}

.send-form{
  margin-bottom: 100px;
  margin-left: 120px;
  padding: 10px;
  background-color: #21acde;
  border-radius: 20px;
  margin-right: 10%;
  margin-left: 16%;
  text-align: center;
  width: 200px;
}

.add-form{
  margin-bottom: 10px;
  background-color: #21acde;
  border-radius: 20px;
  text-align: center;
  margin-right: 37%;
  margin-left: 36%;
  padding: 4px;
}

.comment-form{
  margin-right: 37%;
  margin-left: 36%;
  padding-bottom: 15px;
}

.report-form{
  margin-right: 37%;
  margin-left: 36%;
  padding-bottom: 15px;
}

.translations{
  margin-left: -10%;
  margin-right: 30%;
}

tbody tr:nth-child(odd) {
  background-color: #ffe070;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
  text-align: center;
}

tbody tr {
  text-align: center;
}

table {
  background-color: #ffe070;
  text-align: center;
}


.submit{
  margin-left: 50%;
  border:1px solid #9E9E9E;
  color: #000000;
  font-size: 11px;
  font-family: Verdana;
  background: #FFF;
  width: 50px;
}

.myButton {
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#e4685d;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:2px 9px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
  background-color:#eb675e;
}
.myButton:active {
  position:relative;
  top:1px;
}

.green{
  background-color:#151515;
  box-shadow:inset 0px 39px 0px -24px #28352c;
}

.green:hover{
  background-color:#28352c;
}

.orange {
  background-color:#f19f00;
  box-shadow:inset 0px 39px 0px -24px #faa500;
}

.orange:hover{
  background-color:#f7b32f;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 2rem;           
}

