<!DOCTYPE html>
<html lang="en">
	<head>
  	<title>Flags.Shop</title>
		<meta charset="utf-8">
		<meta name="description" content="There you can buy some flags.">
		<link rel="stylesheet" href="../static/style.css">
		<link rel="stylesheet" href="../static/alertify.css">
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
	</head>
<body>
	<header>
		<a href="lk">
			<div class="header-img">
			</div>
		</a>
		<div class="nav-menu">
			<span class="nav-item city">
					<a href="users">Users</a>
			</span>
			<span class="nav-item shops">
					<a href="flags">Flags</a>
			</span>
			<span class="nav-item buyers">
					<a href="comment_board">Comment Board</a>
			</span>
			<span class="nav-item info">
					<a href="report_board">Report Board</a>
			</span>
		</div>
	</header>
	<main>
		Redis session : <span id="redis-session"></span>
	</main>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../static/alertify.js"></script>
		<script src="../static/debug.js"></script>
</body>
</html>