<!DOCTYPE html>
<html lang="en">
	<head>
  	<title>Flags.Shop</title>
		<meta charset="utf-8">
		<meta name="description" content="There you can buy some flags.">
		<link rel="stylesheet" href="../static/style.css">
		<link rel="stylesheet" href="../static/alertify.css">
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
	</head>
<body>
	<header>
		<a href="/lk">
			<div class="header-img">
			</div>
		</a>
		<div class="nav-menu">
			<span class="nav-item city">
					<a href="users">Users</a>
			</span>
			<span class="nav-item shops">
					<a href="flags">Flags</a>
			</span>
			<span class="nav-item buyers">
					<a href="comment_board">Comment Board</a>
			</span>
			<span class="nav-item info">
					<a href="report_board">Report Board</a>
			</span>
		</div>
		
	</header>
	<main>
		<div class="auth" id="auth">
			
		</div> 

		<div class="report-form">
				<p>
					<span><b>Nickname</b></span>
					<input class="item-send-form data-field" id="input-nickname" type="text" size="10">
				</p>
				<p>
					<span><b>Email</b></span>
					<input class="item-send-form data-field" id="input-email" type="text" size="15">
				</p>
				<p>
					<span><b>Text</b></span>
					<textarea class="item-send-form data-field" id="input-report" type="text" rows="3" cols="45" name="text"></textarea>
				</p>
				<p>
					<input class="myButton" type="submit" onClick="create_report()" value="Create report"></input>
				</p>
		</div>
	
		<div class="items">
			<table class="table" id="reports_table">
				<caption><em>Reports</em></caption>
				<thead>
					<tr>
						<th style="width:100px">Username</th>
						<th style="width:400px">Text</th>
					</tr>
				</thead>
				<tbody>

                </tbody>
			</table>
		</div>
	</main>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../static/alertify.js"></script>
		<script src="../static/report_board.js"></script>
</body>
</html>